footer{
	background-color: #74b9ff;
	
}
#footer_content{
	display: flex;
}
#footer_content>div
{
	margin: 1%;
	text-align: center;
}

@media screen and (max-width:600px){
	/*styling our show menu button*/
#footer_content{
	display: flex;
	flex-direction: column;

}


}
