/*resetting element*/
*{
	margin:0;
	padding:0;
}

.log{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 10px;
	margin-top: 10px;
}
#logbtn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 25%;
	cursor:pointer;
}
#logbtn>a
{
	 /* padding: 1%;
    padding-right: 2%;
    height: 20px;
  	background-color: #ff4757;
    line-height: 15px;
    text-align: center;
    width: 30%;
    margin-right: 2%;
    border: 0 solid black;
    color: white;
    text-decoration: none;
    size: auto;
    ;*/
    text-decoration: none
}
#home
{
	 padding-left: 6%;
    padding-right: 6%;
    height: 30px;
  	
    line-height: 20px;
    text-align: center;
     margin-right: 0%;
    border: 0 solid black;
    color: white;
    width: 70px;
}
/*hiding label and checkbox*/
input[type=checkbox],
.show-menu{
	display:none;
}

/*giving background image*/
body{
	/*background:url("http://res.cloudinary.com/arcodee/image/upload/v1504526843/dove_onkhki.jpg");*/
}

/*styling our wrapper*/
.wrapper{
	max-width:960px;
	margin:0 auto;
	color:#ecf0f1;
	font-family:helvetica;
}

/*styling h1 in wrapper*/
.wrapper h1{
	padding:20px;
	text-align:center;
}

/*styling navigation*/
.navigation{
	display:flex;
	list-style-type:none;
}

/*styling list items->li in navigation*/
.navigation li{
	background:#1a1a1a;
	flex:1;
	text-align:center;
	transition:all .2s ease;
}

/*giving border left to all list items, but not to our first list item*/
.navigation li:not(:first-child){
	border-left:2px solid #ecf0f1;
}

/*styling hover*/
.navigation li:hover{
	background:#333333;
	flex:1.1;
}

/*styling our anchor tag*/
.navigation li a{
	display:block;
	padding:20px 0;
	color:inherit;
	text-decoration:none;
}

/*giving style for mobile*/
/*#logout*/
{
	 padding-left: 6%;
    padding-right: 6%;
    height: 30px;
  	background-color: #ff4757;
    line-height: 20px;
    text-align: center;
     margin-right: 2%;
    border: 0 solid black;
    color: white;
    text-decoration: none;
}
#login>a{
	text-decoration: none;

}

#logout>a{
	text-decoration: none;

}


/*#login*/
{
	 padding-left: 6%;
    padding-right: 9.5%;
    /*padding: 8%;*/
    height: 30px;
  	background-color: #55efc4;
    line-height: 20px;
    text-align: center;
     margin-right: 2%;
    border: 0 solid black;
    color: white;
    
}

@media screen and (max-width:600px){
	/*styling our show menu button*/
	.show-menu{
		background:#342a2a;
		display:flex;
		cursor:pointer;
		padding:20px 0;
		justify-content:center;
	}

	#m{
		display:none;
	}
	/*hiding our navigation*/
	.navigation{
		display:none;
	}
	
	/*displaying our list items as block element; if checkbox is check*/
	input[type=checkbox]:checked ~ .navigation{
		display:flex;
	}
	input[type=checkbox]:checked ~ #m{
		display:block;
	}
	/*removing border left from the pseudo class*/
	.navigation li:not(:first-child){
		border:0;
	}
	/*giving margin to list item, excluding last list item*/
	.navigation li:not(:last-child){
		margin:2px 0;
	}
	
	/*giving background image*/
body{
	
}

/*styling our wrapper*/
.wrapper{
	max-width:960px;
	margin:0 auto;
	color:#ecf0f1;
	font-family:helvetica;
}

/*styling h1 in wrapper*/
.wrapper h1{
	padding:20px;
	text-align:center;
}

/*styling navigation*/
.navigation{
	display:flex;
	list-style-type:none;
}

/*styling list items->li in navigation*/
.navigation li{
	background:#1a1a1a;
	flex:1;
	text-align:center;
	transition:all .2s ease;
}

/*giving border left to all list items, but not to our first list item*/
.navigation li:not(:first-child){
	border-left:2px solid #ecf0f1;
}

/*styling hover*/
.navigation li:hover{
	background:#333333;
	flex:1.1;
}

/*styling our anchor tag*/
.navigation li a{
	display:block;
	padding:20px 0;
	color:inherit;
	text-decoration:none;
}
	
	
}