body
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}

#banniere{
	
	color: white;
	background-image: url("../img/ban.jpg");
	background-size: cover;
	background-color: silver;
	width: 100%;
	height: 530px;
}
#section_index{
	margin: 3%;
display: flex;
justify-content: space-around;
}
#section_index>div
{
	margin: 1%;
}
#img>img{
	width:400px;
}
#missionh1,#missionp{
font-size: 210%;
}
@media screen and (max-width:600px){

#section_index{
	/*margin: 3%;*/
display: flex;
flex-direction: column;
}
#section_index>div{
	width: 100%;
}
#img>img{
	width:100%;
}
#missionh1,#missionp{
font-size: 100%;
}
	}
