body
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}
section{
	display: flex;
	flex-direction: column;	
	justify-content: center;
}

#listProduit{
	width: 50%;
	height: 200px;
	border: 0 solid black;
	position:relative;
	margin: auto;
	overflow: auto;
	margin-bottom: 0px;
}
#listProduit>table{
	border: 0 solid black;
	background-color: #dfe4ea;
	margin-left: 2px;

	 text-align: center;
	height: 30px;
	width: 100%;
}
table{
	width: 30%;
}