body
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
}
section{
	display: flex;
	flex-direction: column;	
	justify-content: center;
}

#listProduit{
	width: 50%;
	height: 200px;
	border: 0 solid black;
	position:relative;
	margin: auto;
	overflow: auto;
	margin-bottom: 0px;
}
#listProduit>table{
	border: 0 solid black;
	background-color: #dfe4ea;
	margin-left: 2px;

	 text-align: center;
	height: 30px;
	width: 100%;
}
table{
	width: 30%;
}

#btn
{
	
	 padding-left: 3%;
    padding-right: 6%;
    height: 40px;
  	
    line-height: 20px;
    text-align: center;
     margin-right: 0%;
    border: 0 solid black;
    color: white;
    width: 70px;
    background-color:  #2ed573;
}
td>input,select{
	border: 0 solid black;
	background-color: #dfe4ea;
	margin-bottom: 5px;
	 text-align: center;
	height: 30px;
	width: 100%;
}
#infocard{
	width: 40%;
}